@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

body {
    font-family: "Baloo Tamma 2", cursive;
    background-color: rgba(252, 195, 244, 0.75);
}

.navbar {
    background-color: #1a1a27 !important;
    color: #fff;
}
.overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(252, 195, 244, 0.75);
}
.navbar a {
    color: #fff;
    font-size: 18px;
}

hr {
    margin: 0 !important;
}

.container {
    height: 100%;
    position: relative;
    z-index: 9999;
}

.background-items {
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    height: 250px;
    width: 250px;
    background-color: #e1f0fe;
    position: fixed;
    opacity: 0.2;
}

#background-1 {
    background-image: url("../images/1.png");
    left: -5px;
    bottom: 150px;
    transform: rotate(-45deg);
    background-size: 200px;
}

#background-2 {
    background-image: url("../images/2.png");
    right: 250px;
    top: 100px;
    transform: rotate(-20deg);
    background-size: 220px;
}

#background-3 {
    background-image: url("../images/5.png");
    right: 0px;
    bottom: 25px;
    /*transform: rotate(-45deg);*/
    background-size: 400px;
}

.card {
    border: none !important;
    background-color: unset !important;
}

.card .card-header {
    border: none !important;
    background-color: unset !important;
}

.card .card-body {
    background-color: #fff;
    border-radius: 5px 5px 20px 5px;
    box-shadow: 0 0 10px 0px #999;
    border-bottom: 2px solid #1a1a27;
    padding: 20px !important;
}

.card.auth {
    padding: 40px 20px !important;
}

form {
    width: 100%;
    font-size: 18px;
}

form input {
    background-color: #b1b1b136 !important;
    border: 1px solid #1a1a27 !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 5px;
    width: 100%;
}

form input:focus,
form input:active {
    outline: 0em;
}

form button[type="submit"],
form button[type="submit"]:active {
    width: 100%;
    background-color: hsl(0, 93%, 73%);
    background-color: hsl(0, 93%, 73%);
    border-color: #1a1a27;
    font-size: 18px;
}

form button[type="submit"],
form button[type="submit"]:hover {
    background-color: hsl(0, 93%, 73%);
    border-color: #1a1a27;
}

.navbar-nav li {
    margin: 20px;
}

.log-list {
    padding-left: 15px;
}

.log-list li {
    margin: 10px 0px !important;
    padding: 5px 0px;
    border-bottom: 1px solid #eee;
}

.log-list li .description {
    display: block;
    padding: 4px;
    margin: 0px !important;
}

#expense-stats p {
    font-size: 20px;
}

@media only screen and (max-width: 400px) {
    #expense-stats p {
        font-size: 16px;
    }
}
