@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

body {
    font-family: "Baloo Tamma 2", cursive;
    font-size: 14px !important;
}

form label {
    font-size: 14px !important;
}

form input {
    font-size: 16px !important;
}

.btn {
    font-size: 14px !important;
}

#expense-stats p, #budget-stats p {
    font-size: 20px;
}

@media only screen and (max-width: 400px) {
    #expense-stats p, #budget-stats p {
        font-size: 10px !important;
    }
}

label {
    margin: 0 !important;
}
